<!DOCTYPE html>
<html> 
    <head lang="en">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous">
        </script>
        <title>Cart</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    </head>

    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand" >Sweet shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="{% url 'index' %}">
                  Go back home
                </a>
            </div>
        </div>
        </div>
      </nav>
      <center>
        <h1 style="padding: 30px;">Order summary</h1>
        
        <div class="container text-center">
          <div class="row row-cols-2">
            <div class="col">
              <div class="row row-cols-1 row-cols-md-3 g-4" style="flex-flow: column;">
                {% for cart in whole_cart %}
                <div v-for="sweet in sweets" class="col" >
                  <div class="card" style="width: 400px;">
                    <div class="card-body">
                      <p class="card-text">Name: {{ cart.name }}</p>
                      <p class="card-text">Price: £{{ cart.price }}</p>
                      <p class="card-text">Quantity: {{ cart.quantityInGrams }} grams </p>
                      <a class="btn btn-danger"href="delete_item/{{ cart.id }}">Delete</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>


            <div class="col">
                
      {% if total and weight %}  

      <form method="POST" style="padding-bottom: 30px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" formaction="" >
          Add to cart
        </button>
      </form>

        <h4>Total price: £{{ total|floatformat:2 }}</h4>
        <h4>Total weight: {{ weight }} grams</h4>

      {% endif %}

    {% if pandp %}
    <h4 > Posting and packaging:
      £{{ pandp }}
    </h4>
    {% endif %}

    {% if gift %}
    <h4 > Gift wrapping:
      £{{ gift }}
    </h4>
    {% endif %}

    {% if final_total %}
    <h1 style="padding-top: 30px;"> Final total:
      £{{ final_total|floatformat:2 }}
    </h1>
    {% endif %}

    {% if error %}
    <center>
    <div class="alert alert-danger mt-3" role="alert" style="width: 400px;" >
      {{ error }}
    </div>
    </center>
    {% endif %}
            </div>
            
          </div>
        </div>
       
 
    </center>  

    
    </body>

</html>